<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specified Comment</title>
</head>
<body>
    <h1>Here is the single comment</h1>
    <h2>Comment id: <%= comment.id %> </h2>
    <h2>Here is the comment: <%= comment.comment %></h2>
    <a href="/comments">Back to Index</a>
    <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
</body>
</html>